.product-search-page {
  padding: 2rem;
  @include flex(row, flex-start, stretch, 2rem);
  min-height: calc(100vh - 6.5vh);

  > aside {
    min-width: 20rem;
    @include base-shadow;
    padding: 2rem;
    @include flex(column, flex-start, stretch, 0.5rem);

    > h2 {
      @include heading(2px);
    }

    > div {
      > input,
      > select {
        @include inputStyle;
        width: 100%;
        margin: 0.5rem 0;
      }
    }
  }

  > main {
    width: 100%;
    padding: 0 2rem;

    > h1 {
      @include heading(2px);
    }

    > input {
      @include inputStyle;
      width: 50%;
      border-radius: 5px;
      display: block;
      margin: 1rem 0;
    }

    .search-product-list {
      @include flex(row, flex-start, flex-start, 1rem);
      flex-wrap: wrap;
      height: calc(100% - 10rem);
      overflow-y: auto;
    }

    > article {
      @include flex(row, center, center, 1rem);
      margin-top: 2rem;

      > button {
        @include btn(0.5rem 1rem, $color3, white);
        border-radius: 10px;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }
}
